.button {
  padding: 4px 16px;
  color: #000000;
  border: 1px solid #00cd90;
  background-color: #ffffff;
  border-radius: 20px;
  min-width: 148px;
}

.button:hover {
  color: #00cd90 !important;
  background-color: #fcfcfc;
}
