.check {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  justify-content: center;

  order: 0;
  flex-grow: 0;
}

.check div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.check label:hover {
  cursor: pointer;
}

.check input[type="radio"] {
  width: 17px;
  height: 17px;
  background-color: rgb(255, 255, 255);
  background: #ffffff;
  border: 1px solid #19d9a0;
  box-sizing: border-box;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 8px;
  cursor: pointer;
}

.check input[type="radio"]:checked {
  color: #19d9a0;
}

.dot:hover {
  cursor: pointer;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 600px;
}

.head {
  padding: 10px;

  position: static;
  width: 100%;
  height: 44px;

  background: #00ac79;
  border-radius: 8px 8px 0px 0px;

  order: 0;

  text-align: center;
  font-family: Asap;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

@media (max-width: 650px) {
  .box {
    width: 100%;
  }
}

@media (max-width: 470px) {
  .main {
    width: 80%;
  }
}

@media (max-width: 300px) {
  .main {
    width: 90%;
  }
}
